@using System.Web.Optimization
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<app-root></app-root>


<!-- Add Angular build files -->
<script src="~/Scripts/Client/main-QAK4MGMI.js"></script>
<script src="~/Scripts/Client/polyfills-SCHOHYNV.js"></script>