@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<!DOCTYPE html>

<html>
<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>status</th>
            <th>detaylar</th>
            <th>sil</th>
        </tr>
        @foreach(var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryStatus</td>
                <td> <a href="#" class="btn btn-warning">Detaylar</a></td>
                <td> <a href="#" class="btn btn-danger">Sil</a> </td>
        </tr>

        
    }
    </table>

    
    <app-root></app-root>
    <!-- Add Angular build files -->
    <script type="text/javascript" src="/Client1/browser/main-QAK4MGMI.js"></script>
    <script type="text/javascript" src="/Client1/browser/polyfills-SCHOHYNV.js"></script>
    
</body>
</html>

